mixin modal(modifier)
  .modal&attributes(attributes)
    .modal__content
      p.modal__text Спасибо, что выбрали нас
      p.modal__text Администратор свяжется с&nbsp;Вами для подтверждения бронирования