include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/main-screen/main-screen.pug
include ../blocks/about/about.pug
include ../blocks/slider/slider.pug
include ../blocks/marquee/marquee.pug
include ../blocks/available/available.pug
include ../blocks/option/option.pug
include ../blocks/footer/footer.pug
include ../blocks/contacts/contacts.pug
include ../blocks/form/form.pug
include ../blocks/menu/menu.pug
include ../blocks/verification/verification.pug
include ../blocks/modal/modal.pug
include ../blocks/menu-main-screen/menu-main-screen.pug
include ../blocks/product/product.pug
include ../blocks/main/main.pug
