.menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 68px 0 0px;

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:first-of-type {
      padding: 40px;
      background-color: #FBFF4B;
    }
    &:last-of-type {
      max-width: 490px;
      padding: 10px;
    }
  }
  &__title {
    margin-bottom: 10px;
    font-family: Manrope;
    font-size: px-to-em(32);
    line-height: lh-to-pct(44, 32);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    &--black {
      color: #000;
      text-align: start;
    }
  }
  &__texts {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: px-to-em(32);
    line-height: lh-to-pct(44, 32);
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    &--white {
      color: #ffffff;
      text-transform: none;
      text-align: center;
    }
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
  &__link {
    align-self: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 16px;
    border: 3px solid #FBFF4B;
    font-family: Mutabor; 
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    color: #FFF;
    text-decoration: none;
    transition: 1s;
    svg {
      margin-left: 50px;
    }
    path {
      transition: 1s;
    }
    &:hover {
      background-color: #FBFF4B;
      color: #000000;
      path {
          fill: transparent;
          stroke: #000000;
      }
    }
    &:active {
      opacity: 0.5;
    }
  }
  @media screen and (max-width: 1239.98px) {
    &__block {
      &:first-of-type {
        padding: 20px;
      }
      &:last-of-type {
        max-width: 320px;
        margin-left: 50px;
        padding: 0px;
      }
    }
    &__texts {
      .menu-info__text {
        font-size: px-to-em(22);
        line-height: lh-to-pct(30, 22);
        font-weight: 400;
      }
    }
    &__title {
      margin-bottom: 6px;
      font-size: px-to-em(20);
      line-height: lh-to-pct(27, 20);
      &--black {
        margin-bottom: 32px;
        font-size: px-to-em(24);
        line-height: lh-to-pct(33, 24);
      }
    }
    &__text {
      &--white {
        font-size: px-to-em(20);
        line-height: lh-to-pct(27, 20);
      }
      &:not(:last-of-type) {
        margin-bottom: 32px;
      }
    }
    &__link {
      padding: 14px 10px;
      font-size: px-to-em(16);
      line-height: lh-to-pct(16, 20);
      color: #FFF;
      text-decoration: none;
      transition: 1s;
      svg {
        margin-left: 14px;
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    flex-direction: column-reverse;
    padding: 20px 0 0;
    &__block {
      &:first-of-type {
        margin-top: 10px;
        padding: 20px;
      }
      &:last-of-type {
        max-width: 100%;
        margin-left: 0;
      }
    }
    &__title {
      font-size: px-to-em(16);
      &--black {
        margin-bottom: 20px;
        font-size: px-to-em(20);
      }
    }
    &__texts {
      .menu-info__text {
        font-size: px-to-em(18);
      }
    }
    &__text {
      &--white {
        font-size: px-to-em(16);
      }
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    &__link {
      margin-top: 10px;
      padding: 10px;
      font-size: px-to-em(12);
      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    &__title {
      font-size: px-to-em(12);
      &--black {
        margin-bottom: 20px;
        font-size: px-to-em(12);
      }
    }
    &__texts {
      .menu-info__text {
        font-size: px-to-em(10);
      }
    }
    &__text {
      &--white {
        font-size: px-to-em(12);
      }
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
    &__link {
      margin-top: 10px;
      padding: 8px;
      font-size: px-to-em(10);
      svg {
        width: 16px;
        height: 16px;
        margin-left: 10px;
      }
    }
  }
}
