.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 36px 100px;

  &__menu-list {
    display: flex;
    align-self: flex-start;
    margin-top: -30px;
    margin-bottom: 58px;
    padding: 0 6px;
  }
  &__menu-item {
    display: flex;
    margin-right: 60px;
  }
  &__menu-link {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-family: Manrope;
    font-size: px-to-em(22);
    line-height: lh-to-pct(30, 22);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #FBFF4B;
    transition: 1s;
    opacity: 0.55;
    svg {
      margin: 0px 0px 2px 4px;
    }
    &:hover {
      border-bottom: 2px solid #FBFF4B;
    }
  }
  .ui-tabs-active {
    .main__menu-link {
      border-bottom: 2px solid #FBFF4B;
      opacity: 1;
    }
  }
  
  #bar {
    overflow: hidden;
    .main__products {
      visibility: hidden;
      transition: max-height 1s cubic-bezier(0, 1, 0, 1);
      max-height: 0;
      &--open {
        visibility: visible;
        max-height: 2000px;
        transition: max-height 1s;
        overflow: hidden;
      }
    }
  }
  &__category-title {
    margin: 10px 0 30px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(39, 32);
    font-weight: 400;
    color: #FBFF4B;
    text-align: center;
  }
  &__subcategory-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 24px;
    background: linear-gradient(90deg, #FBFF4B 32.02%, rgba(0, 0, 0, 0.45) 100%);
    font-size: px-to-em(24);
    line-height: lh-to-pct(29, 24);
    font-weight: 400;
    color: #000;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
      transform: rotate(-90deg);
      transition: 1s;
      opacity: 0.5;
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
    &--open {
      svg {
        transform: rotate(0deg);
      }
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
  }
}