mixin main(modifier)
  main.main&attributes(attributes)(id="tabs")
    .main__menu-area
      ul.main__menu-list
        li.main__menu-item
          a.main__menu-link(href="#popular") Самое популярное
            include img/popular.svg
        li.main__menu-item
          a.main__menu-link(href="#season") Сезонное меню
            include img/season.svg
        li.main__menu-item
          a.main__menu-link(href="#hookah") Кальяны
            include img/hookah.svg
        li.main__menu-item
          a.main__menu-link(href="#bar") Барное меню
            include img/drink.svg
        li.main__menu-item
          a.main__menu-link(href="#food") Еда
            include img/food.svg
    .main__category(id="popular")
      .main__products
        +product("img1.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img1.jpeg", "Название2", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img1.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
    .main__category(id="season")
      .main__products
        +product("img2.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img2.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img2.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img2.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
    .main__category(id="hookah")
      .main__products
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img3.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      +menu-info("", ["1 кальян (1-3 чел)", "2 кальяна (4-6 чел)", "3 кальяна (7-10 чел)", "На столы с приставкой депозит - 1500 ₽/час"], "", "Дай знать если не очень", "Правило 5 мин! Если вам сразу не понравился вкус или крепость кальяна,мы переделаем его бесплатно", "")
    .main__category(id="bar")
      h2.main__category-title Безалкогольные напитки
      h3.main__subcategory-title Чай
        include img/menuArrow.svg
      .main__products
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Горячие напитки
        include img/menuArrow.svg
      .main__products
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Лимонады
        include img/menuArrow.svg
      .main__products
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Напитки
        include img/menuArrow.svg
      .main__products
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img4.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h2.main__category-title Алкогольные напитки
      h3.main__subcategory-title Коктейли
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Алкоголь
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Пиво в бутылках
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Сraft beer kanzler в бутылках
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Крафт сидр (стекло)
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h3.main__subcategory-title Кофе
        include img/menuArrow.svg
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      +menu-info("Пробковый сбор", ["Крепкий", "Вино/Шампанское", "Пиво", "Безалкогольные"], ["700 рублей", "300 рублей", "150 рублей", "100 рублей"], "Оформи карту гостя!", "Получай кэшбэк от 5 до 15% и\u00a0получай дополнительные бонусы", "https://wallet.ytimes.ru/home?a=dc3ea535-fa10-48c1-b549-b43212dc2608&s=f1cfa04f-1966-4083-bb86-019b226f6e25")
    .main__category(id="food")
      h2.main__category-title К пенному
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
      h2.main__category-title Yuva Cafe
      .main__products
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")
        +product("img5.jpeg", "Название1", "(DarkSide / MustHave / Starline / Overdose/ Sebero/BlackBurn / Spectrum / MattPear)", "Цена")