mixin menu-main-screen(modifier)
  section.menu-main-screen&attributes(attributes)
    +header
    .menu-main-screen__area
      h1.menu-main-screen__title Меню
      ul.menu-main-screen__menu-list
        li.menu-main-screen__menu-item
          a.menu-main-screen__menu-link(href="#") Самое популярное
            include img/popular.svg
        li.menu-main-screen__menu-item
          a.menu-main-screen__menu-link(href="#") Сезонное меню
            include img/season.svg
        li.menu-main-screen__menu-item
          a.menu-main-screen__menu-link(href="#") Кальяны
            include img/hookah.svg
        li.menu-main-screen__menu-item
          a.menu-main-screen__menu-link(href="#") Барное меню
            include img/drink.svg
        li.menu-main-screen__menu-item
          a.menu-main-screen__menu-link(href="#") Еда
            include img/food.svg