mixin verification(modifier)
  .verification&attributes(attributes)
    .verification__area
      p.verification__text 18+
      p.verification__text Для посещения сайта подтвердите, что вам есть 18 лет
      button.verification__btn.verification__btn--yes(type="button") Подтвердить
      button.verification__btn.verification__btn--no(type="button") Отмена
