mixin welcome(modifier)
  .welcome&attributes(attributes)
    .welcome__info
      h1.welcome__title Мы больше, чем&nbsp;кальянная
      p.welcome__text Находимся на территории Лофт Этажи. Пройдите во&nbsp;внутренний двор, там увидите нас. Зайдите, снимите куртку и с кайфом проведете вечер. Или&nbsp;день. Или&nbsp;утро. Ну&nbsp;вы поняли)
      ul.welcome__menu-list
        li.welcome__menu-item: a.welcome__menu-link(href="#about") Про кальянную
        li.welcome__menu-item: a.welcome__menu-link(href="#menu") Меню
        li.welcome__menu-item: a.welcome__menu-link(href="#contacts") Контакты
      a.welcome__link(href="#reservation") Забронировать стол
        include ./img/arrow_up.svg
      a.welcome__link(href="https://wallet.ytimes.ru/home?a=dc3ea535-fa10-48c1-b549-b43212dc2608&s=f1cfa04f-1966-4083-bb86-019b226f6e25" target="_blank") Оформить карту гостя
        include ./img/card.svg
      .welcome__socials
        a.welcome__social-link(href="https://vk.com/baza_lounge" target="_blank")
          include ./img/vk.svg
        a.welcome__social-link(href="#" target="_blank")
          include ./img/ig.svg
    a.welcome__link-scroll(href="#about") Подробнее
      include ./img/arrow_down.svg