mixin menu(modifier)
  section.menu&attributes(attributes)#menu
    h2.menu__title Меню
    .menu__block
      h2.menu__name.menu__name--hookah Кальяны
      .menu__slider
        img.menu__slide(src="img/hookah.jpg", alt="Меню с кальянами")
    .menu__block
      h2.menu__name.menu__name--bar Бар
      .menu__slider
        img.menu__slide(src="img/bar1.jpg", alt="Страница 1")
        img.menu__slide(src="img/bar2.jpg", alt="Страница 2")
        img.menu__slide(src="img/bar3.jpg", alt="Страница 3")
        img.menu__slide(src="img/bar4.jpg", alt="Страница 4")
        img.menu__slide(src="img/bar5.jpg", alt="Страница 5")
    .menu__block
      h2.menu__name.menu__name--food Кухня
      .menu__slider
        img.menu__slide(src="img/food.jpg", alt="Меню с едой")
